<div class="mt-10 flex flex-wrap gap-2.5">
    <p-button [styleClass]="socialStyles">
        <img
            ngSrc="/icons/github.svg"
            alt="Github Logo"
            width="20"
            height="20"
            class="invert-colors mr-2.5 object-contain"
        />
        <span>Log in with Github</span>
    </p-button>
    <p-button [styleClass]="socialStyles">
        <img
            ngSrc="/icons/google.svg"
            alt="Google Logo"
            width="20"
            height="20"
            class="invert-colors mr-2.5 object-contain"
        />
        <span>Log in with Google</span>
    </p-button>
</div>
