<nav
    class="flex-between background-light900_dark200 fixed z-50 w-full p=6 shadow-light-300 dark:shadow-none sm:px-12"
>
    <a routerLink="/" class="flex items-center gap-1">
        <img ngSrc="/images/site-logo.svg" width="23" height="23" alt="AngularDevflow" />

        <p class="h2-bold font-space-grotesk text-dark-100 dark:text-light-900 max-sm:hidden">
            Dev<span class="text-primary-500">Flow</span>
        </p>
    </a>

    <p>Global Search</p>

    <div class="flex-between gap-5">Theme</div>
</nav>
